@{
    Layout = "_ErrorLayout";
    ViewBag.Title = "503";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="text-center offset-2">
                <img class="" src="~/AdminArea/img/img-errorpages/503-error-service-unavailable.svg" />
                <p class="lead"><b>Bakım kesintisi veya kapasite sorunları nedeniyle sunucu geçici olarak hizmet veremiyor. Lütfen daha sonra tekrar deneyiniz.</b></p>
                <a class="text-arrow-icon lead" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left ml-0 mr-1"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg><b>
                        Ana
                        Sayfaya Dön
                    </b>
                </a>
            </div>
        </div>
    </div>
</div>



